COVID 19 DATA VISUALISATION

Within months, COVID-19 went from an epidemic to a pandemic. We will visualize data from the early months of the coronavirus outbreak to see how this virus grew to be a global pandemic. 

Coronavirus is a family of viruses that are named after their spiky crown. The novel coronavirus, also known as SARS-CoV-2, is a contagious respiratory virus that first reported in Wuhan, China. On 2/11/2020, the World Health Organization designated the name COVID-19 for the disease caused by the novel coronavirus. This notebook aims at exploring COVID-19 through data analysis and projections using a few sample countries.
The data used here is from John Hopkins University.

In [1]:
#set up:Importing packages to be used to analyse data
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
JohnHopkins=pd.read_csv("JohnHopkins.csv")

In [3]:
JohnHopkins

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
0,NaN,Afghanistan,2020-01-22,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
1,NaN,Afghanistan,2020-01-23,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
2,NaN,Afghanistan,2020-01-24,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
3,NaN,Afghanistan,2020-01-25,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
4,NaN,Afghanistan,2020-01-26,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
...,...,...,...,...,...,...,...,...,...,...
28297,Zhejiang,China,2020-05-02,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28298,Zhejiang,China,2020-05-03,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28299,Zhejiang,China,2020-05-04,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28300,Zhejiang,China,2020-05-05,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28301,Zhejiang,China,2020-05-06,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC

Quick Examination of the data

In [4]:
JohnHopkins.head(100)

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
0,NaN,Afghanistan,2020-01-22,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
1,NaN,Afghanistan,2020-01-23,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
2,NaN,Afghanistan,2020-01-24,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
3,NaN,Afghanistan,2020-01-25,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
4,NaN,Afghanistan,2020-01-26,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
...,...,...,...,...,...,...,...,...,...,...
95,NaN,Afghanistan,2020-04-26,33.0,65.0,1531.0,207.0,50.0,2020-05-07T14:00:03Z,UTC
96,NaN,Afghanistan,2020-04-27,33.0,65.0,1703.0,220.0,57.0,2020-05-07T14:00:03Z,UTC
97,NaN,Afghanistan,2020-04-28,33.0,65.0,1828.0,228.0,58.0,2020-05-07T14:00:03Z,UTC
98,NaN,Afghanistan,2020-04-29,33.0,65.0,1939.0,252.0,60.0,2020-05-07T14:00:03Z,UTC
99,NaN,Afghanistan,2020-04-30,33.0,65.0,2171.0,260.0,64.0,2020-05-07T14:00:03Z,UTC

In [5]:
JohnHopkins.dtypes

State              object
Country            object
Date               object
Lat               float64
Long              float64
Confirmed         float64
Recovered         float64
Deaths            float64
last_update_ts     object
last_update_tz     object
dtype: object

In [6]:
JohnHopkins.tail(100)

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
28202,Zhejiang,China,2020-01-28,29.1832,120.0934,173.0,3.0,0.0,2020-05-07T14:00:03Z,UTC
28203,Zhejiang,China,2020-01-29,29.1832,120.0934,296.0,3.0,0.0,2020-05-07T14:00:03Z,UTC
28204,Zhejiang,China,2020-01-30,29.1832,120.0934,428.0,4.0,0.0,2020-05-07T14:00:03Z,UTC
28205,Zhejiang,China,2020-01-31,29.1832,120.0934,538.0,14.0,0.0,2020-05-07T14:00:03Z,UTC
28206,Zhejiang,China,2020-02-01,29.1832,120.0934,599.0,21.0,0.0,2020-05-07T14:00:03Z,UTC
...,...,...,...,...,...,...,...,...,...,...
28297,Zhejiang,China,2020-05-02,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28298,Zhejiang,China,2020-05-03,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28299,Zhejiang,China,2020-05-04,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28300,Zhejiang,China,2020-05-05,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28301,Zhejiang,China,2020-05-06,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC

In [7]:
JohnHopkins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28302 entries, 0 to 28301
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           8692 non-null   object
 1   Country         28302 non-null  object
 2   Date            28302 non-null  object
 3   Lat             28196 non-null  float64
 4   Long            28196 non-null  float64
 5   Confirmed       28196 non-null  float64
 6   Recovered       26712 non-null  float64
 7   Deaths          28196 non-null  float64
 8   last_update_ts  28302 non-null  object
 9   last_update_tz  28302 non-null  object
dtypes: float64(5), object(5)
memory usage: 2.2+ MB

CREATING NEW DATA FRAMES FOR PLOTTING GRAPHS
(Cleaning up to remove the Longitude,Latitude and State data)

In [8]:
country_data=JohnHopkins[["Country","Date","Confirmed","Recovered","Deaths"]]

In [9]:
country_data

           Country        Date  Confirmed  Recovered  Deaths
0      Afghanistan  2020-01-22        0.0        0.0     0.0
1      Afghanistan  2020-01-23        0.0        0.0     0.0
2      Afghanistan  2020-01-24        0.0        0.0     0.0
3      Afghanistan  2020-01-25        0.0        0.0     0.0
4      Afghanistan  2020-01-26        0.0        0.0     0.0
...            ...         ...        ...        ...     ...
28297        China  2020-05-02     1268.0     1265.0     1.0
28298        China  2020-05-03     1268.0     1265.0     1.0
28299        China  2020-05-04     1268.0     1267.0     1.0
28300        China  2020-05-05     1268.0     1267.0     1.0
28301        China  2020-05-06     1268.0     1267.0     1.0

[28302 rows x 5 columns]

INDIVIDUAL COUNTRY DATA

In [ ]:
select_Kenya=country_data[country_data['Country'] == 'Kenya']
select_Kenya

In [ ]:
select_Ghana=country_data[country_data['Country'] == 'Ghana']
select_Ghana

In [ ]:
select_Egypt=country_data[country_data['Country'] == 'Egypt']
select_Egypt

In [ ]:
select_Togo=country_data[country_data['Country'] == 'Togo']
select_Togo

In [ ]:
select_Uganda=country_data[country_data['Country'] == 'Uganda']
select_Uganda

In [ ]:
select_Rwanda=country_data[country_data['Country'] == 'Rwanda']
select_Rwanda

In [ ]:
select_Madagascar=country_data[country_data['Country'] == 'Madagascar']
select_Madagascar

In [ ]:
select_Nigeria=country_data[country_data['Country'] == 'Nigeria']
select_Nigeria

In [ ]:
select_SouthAfrica=country_data[country_data['Country'] == 'South Africa']
select_SouthAfrica

In [ ]:
select_Tanzania=country_data[country_data['Country'] == 'Tanzania']
select_Tanzania

In [ ]:
select_Burundi=country_data[country_data['Country'] == 'Burundi']
select_Burundi

In [ ]:
select_Namibia=country_data[country_data['Country'] == 'Namibia']
select_Namibia

In [ ]:
select_China=country_data[country_data['Country'] == 'China']
select_China

In [ ]:
select_India=country_data[country_data['Country'] == 'India']
select_India

In [ ]:
select_Japan=country_data[country_data['Country'] == 'Japan']
select_Japan

In [ ]:
select_Turkey=country_data[country_data['Country'] == 'Turkey']
select_Turkey

In [ ]:
select_SaudiArabia=country_data[country_data['Country'] == 'Saudi Arabia']
select_SaudiArabia

In [ ]:
select_Spain=country_data[country_data['Country'] == 'Spain']
select_Spain

In [ ]:
select_Italy=country_data[country_data['Country'] == 'Italy']
select_Italy

In [ ]:
select_UnitedKingdom=country_data[country_data['Country'] == 'United Kingdom']
select_UnitedKingdom

In [ ]:
select_Germany=country_data[country_data['Country'] == 'Germany']
select_Germany

In [ ]:
select_Switzerland=country_data[country_data['Country'] == 'Switzerland']
select_Switzerland

In [ ]:
select_Brazil=country_data[country_data['Country'] == 'Brazil']
select_Brazil

In [ ]:
select_Venezuela=country_data[country_data['Country'] == 'Venezuela']
select_Venezuela

In [ ]:
select_Canada=country_data[country_data['Country'] == 'Canada']
select_Canada

In [ ]:
select_Australia=country_data[country_data['Country'] == 'Australia']
select_Australia

In [ ]:
select_US=country_data[country_data['Country'] == 'US']
select_US