##COVID 19 DATA VISUALISATION

###Within months, COVID-19 went from an epidemic to a pandemic. We will visualize data from the early months of the coronavirus outbreak to see how this virus grew to be a global pandemic. 

Coronavirus is a family of viruses that are named after their spiky crown. The novel coronavirus, also known as SARS-CoV-2, is a contagious respiratory virus that first reported in Wuhan, China. On 2/11/2020, the World Health Organization designated the name COVID-19 for the disease caused by the novel coronavirus. This notebook aims at exploring COVID-19 through data analysis and projections.
The data used here is from John Hopkins University.

In [1]:
#set up:Importing packages to be used to analyse data
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
JohnHopkins=pd.read_csv("JohnHopkins.csv")

In [3]:
JohnHopkins

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
0,NaN,Afghanistan,2020-01-22,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
1,NaN,Afghanistan,2020-01-23,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
2,NaN,Afghanistan,2020-01-24,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
3,NaN,Afghanistan,2020-01-25,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
4,NaN,Afghanistan,2020-01-26,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
...,...,...,...,...,...,...,...,...,...,...
28297,Zhejiang,China,2020-05-02,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28298,Zhejiang,China,2020-05-03,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28299,Zhejiang,China,2020-05-04,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28300,Zhejiang,China,2020-05-05,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28301,Zhejiang,China,2020-05-06,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC

###Quick Examination of the data

In [4]:
JohnHopkins.head(10)

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
0,NaN,Afghanistan,2020-01-22,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
1,NaN,Afghanistan,2020-01-23,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
2,NaN,Afghanistan,2020-01-24,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
3,NaN,Afghanistan,2020-01-25,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
4,NaN,Afghanistan,2020-01-26,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
5,NaN,Afghanistan,2020-01-27,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
6,NaN,Afghanistan,2020-01-28,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
7,NaN,Afghanistan,2020-01-29,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
8,NaN,Afghanistan,2020-01-30,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
9,NaN,Afghanistan,2020-01-31,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC

In [5]:
JohnHopkins.dtypes

State              object
Country            object
Date               object
Lat               float64
Long              float64
Confirmed         float64
Recovered         float64
Deaths            float64
last_update_ts     object
last_update_tz     object
dtype: object

In [6]:
JohnHopkins.tail(10)

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
28292,Zhejiang,China,2020-04-27,29.1832,120.0934,1268.0,1261.0,1.0,2020-05-07T14:00:03Z,UTC
28293,Zhejiang,China,2020-04-28,29.1832,120.0934,1268.0,1262.0,1.0,2020-05-07T14:00:03Z,UTC
28294,Zhejiang,China,2020-04-29,29.1832,120.0934,1268.0,1263.0,1.0,2020-05-07T14:00:03Z,UTC
28295,Zhejiang,China,2020-04-30,29.1832,120.0934,1268.0,1264.0,1.0,2020-05-07T14:00:03Z,UTC
28296,Zhejiang,China,2020-05-01,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28297,Zhejiang,China,2020-05-02,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28298,Zhejiang,China,2020-05-03,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28299,Zhejiang,China,2020-05-04,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28300,Zhejiang,China,2020-05-05,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28301,Zhejiang,China,2020-05-06,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC

In [7]:
JohnHopkins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28302 entries, 0 to 28301
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           8692 non-null   object
 1   Country         28302 non-null  object
 2   Date            28302 non-null  object
 3   Lat             28196 non-null  float64
 4   Long            28196 non-null  float64
 5   Confirmed       28196 non-null  float64
 6   Recovered       26712 non-null  float64
 7   Deaths          28196 non-null  float64
 8   last_update_ts  28302 non-null  object
 9   last_update_tz  28302 non-null  object
dtypes: float64(5), object(5)
memory usage: 2.2+ MB

Data Table