##COVID 19 DATA VISUALISATION

###Within months, COVID-19 went from an epidemic to a pandemic. We will visualize data from the early months of the coronavirus outbreak to see how this virus grew to be a global pandemic. 

Coronavirus is a family of viruses that are named after their spiky crown. The novel coronavirus, also known as SARS-CoV-2, is a contagious respiratory virus that first reported in Wuhan, China. On 2/11/2020, the World Health Organization designated the name COVID-19 for the disease caused by the novel coronavirus. This notebook aims at exploring COVID-19 through data analysis and projections.
The data used here is from John Hopkins University.

In [2]:
#set up:Importing packages to be used to analyse data
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print ("set up complete")

set up complete

In [3]:
JohnHopkins=pd.read_csv("JohnHopkins.csv")

In [4]:
JohnHopkins

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
0,NaN,Afghanistan,2020-01-22,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
1,NaN,Afghanistan,2020-01-23,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
2,NaN,Afghanistan,2020-01-24,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
3,NaN,Afghanistan,2020-01-25,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
4,NaN,Afghanistan,2020-01-26,33.0000,65.0000,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
...,...,...,...,...,...,...,...,...,...,...
28297,Zhejiang,China,2020-05-02,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28298,Zhejiang,China,2020-05-03,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28299,Zhejiang,China,2020-05-04,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28300,Zhejiang,China,2020-05-05,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28301,Zhejiang,China,2020-05-06,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC

###Quick Examination of the data

In [5]:
JohnHopkins.head(100)

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
0,NaN,Afghanistan,2020-01-22,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
1,NaN,Afghanistan,2020-01-23,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
2,NaN,Afghanistan,2020-01-24,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
3,NaN,Afghanistan,2020-01-25,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
4,NaN,Afghanistan,2020-01-26,33.0,65.0,0.0,0.0,0.0,2020-05-07T14:00:03Z,UTC
...,...,...,...,...,...,...,...,...,...,...
95,NaN,Afghanistan,2020-04-26,33.0,65.0,1531.0,207.0,50.0,2020-05-07T14:00:03Z,UTC
96,NaN,Afghanistan,2020-04-27,33.0,65.0,1703.0,220.0,57.0,2020-05-07T14:00:03Z,UTC
97,NaN,Afghanistan,2020-04-28,33.0,65.0,1828.0,228.0,58.0,2020-05-07T14:00:03Z,UTC
98,NaN,Afghanistan,2020-04-29,33.0,65.0,1939.0,252.0,60.0,2020-05-07T14:00:03Z,UTC
99,NaN,Afghanistan,2020-04-30,33.0,65.0,2171.0,260.0,64.0,2020-05-07T14:00:03Z,UTC

In [6]:
JohnHopkins.dtypes

State              object
Country            object
Date               object
Lat               float64
Long              float64
Confirmed         float64
Recovered         float64
Deaths            float64
last_update_ts     object
last_update_tz     object
dtype: object

In [7]:
JohnHopkins.tail(100)

,State,Country,Date,Lat,Long,Confirmed,Recovered,Deaths,last_update_ts,last_update_tz
28202,Zhejiang,China,2020-01-28,29.1832,120.0934,173.0,3.0,0.0,2020-05-07T14:00:03Z,UTC
28203,Zhejiang,China,2020-01-29,29.1832,120.0934,296.0,3.0,0.0,2020-05-07T14:00:03Z,UTC
28204,Zhejiang,China,2020-01-30,29.1832,120.0934,428.0,4.0,0.0,2020-05-07T14:00:03Z,UTC
28205,Zhejiang,China,2020-01-31,29.1832,120.0934,538.0,14.0,0.0,2020-05-07T14:00:03Z,UTC
28206,Zhejiang,China,2020-02-01,29.1832,120.0934,599.0,21.0,0.0,2020-05-07T14:00:03Z,UTC
...,...,...,...,...,...,...,...,...,...,...
28297,Zhejiang,China,2020-05-02,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28298,Zhejiang,China,2020-05-03,29.1832,120.0934,1268.0,1265.0,1.0,2020-05-07T14:00:03Z,UTC
28299,Zhejiang,China,2020-05-04,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28300,Zhejiang,China,2020-05-05,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC
28301,Zhejiang,China,2020-05-06,29.1832,120.0934,1268.0,1267.0,1.0,2020-05-07T14:00:03Z,UTC

In [8]:
JohnHopkins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28302 entries, 0 to 28301
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           8692 non-null   object
 1   Country         28302 non-null  object
 2   Date            28302 non-null  object
 3   Lat             28196 non-null  float64
 4   Long            28196 non-null  float64
 5   Confirmed       28196 non-null  float64
 6   Recovered       26712 non-null  float64
 7   Deaths          28196 non-null  float64
 8   last_update_ts  28302 non-null  object
 9   last_update_tz  28302 non-null  object
dtypes: float64(5), object(5)
memory usage: 2.2+ MB

CREATING NEW DATA FRAMES FOR PLOTTING GRAPHS

In [9]:
country_data=JohnHopkins[["Country","Date","Confirmed","Recovered","Deaths"]]

###PICKING OUT COUNTRY DATA WITHOUT THE COORDINATES

In [10]:
country_data

           Country        Date  Confirmed  Recovered  Deaths
0      Afghanistan  2020-01-22        0.0        0.0     0.0
1      Afghanistan  2020-01-23        0.0        0.0     0.0
2      Afghanistan  2020-01-24        0.0        0.0     0.0
3      Afghanistan  2020-01-25        0.0        0.0     0.0
4      Afghanistan  2020-01-26        0.0        0.0     0.0
...            ...         ...        ...        ...     ...
28297        China  2020-05-02     1268.0     1265.0     1.0
28298        China  2020-05-03     1268.0     1265.0     1.0
28299        China  2020-05-04     1268.0     1267.0     1.0
28300        China  2020-05-05     1268.0     1267.0     1.0
28301        China  2020-05-06     1268.0     1267.0     1.0

[28302 rows x 5 columns]

SPECIFIC COUNTRY DATA

In [16]:
select_Kenya=country_data[country_data['Country'] == 'Kenya']

In [17]:
select_Kenya

     Country        Date  Confirmed  Recovered  Deaths
9328   Kenya  2020-01-22        0.0        0.0     0.0
9329   Kenya  2020-01-23        0.0        0.0     0.0
9330   Kenya  2020-01-24        0.0        0.0     0.0
9331   Kenya  2020-01-25        0.0        0.0     0.0
9332   Kenya  2020-01-26        0.0        0.0     0.0
...      ...         ...        ...        ...     ...
9429   Kenya  2020-05-02      435.0      152.0    22.0
9430   Kenya  2020-05-03      465.0      167.0    24.0
9431   Kenya  2020-05-04      490.0      173.0    24.0
9432   Kenya  2020-05-05      535.0      182.0    24.0
9433   Kenya  2020-05-06      582.0      190.0    26.0

[106 rows x 5 columns]

In [18]:
select_Ghana=country_data[country_data['Country'] == 'Ghana']

In [19]:
select_Ghana

     Country        Date  Confirmed  Recovered  Deaths
6890   Ghana  2020-01-22        0.0        0.0     0.0
6891   Ghana  2020-01-23        0.0        0.0     0.0
6892   Ghana  2020-01-24        0.0        0.0     0.0
6893   Ghana  2020-01-25        0.0        0.0     0.0
6894   Ghana  2020-01-26        0.0        0.0     0.0
...      ...         ...        ...        ...     ...
6991   Ghana  2020-05-02     2169.0      229.0    18.0
6992   Ghana  2020-05-03     2169.0      229.0    18.0
6993   Ghana  2020-05-04     2719.0      294.0    18.0
6994   Ghana  2020-05-05     2719.0      294.0    18.0
6995   Ghana  2020-05-06     3091.0      294.0    18.0

[106 rows x 5 columns]

In [31]:
select_Egypt=country_data[country_data['Country'] == 'Egypt']

In [32]:
select_Egypt

     Country        Date  Confirmed  Recovered  Deaths
5406   Egypt  2020-01-22        0.0        0.0     0.0
5407   Egypt  2020-01-23        0.0        0.0     0.0
5408   Egypt  2020-01-24        0.0        0.0     0.0
5409   Egypt  2020-01-25        0.0        0.0     0.0
5410   Egypt  2020-01-26        0.0        0.0     0.0
...      ...         ...        ...        ...     ...
5507   Egypt  2020-05-02     6193.0     1522.0   415.0
5508   Egypt  2020-05-03     6465.0     1562.0   429.0
5509   Egypt  2020-05-04     6813.0     1632.0   436.0
5510   Egypt  2020-05-05     7201.0     1730.0   452.0
5511   Egypt  2020-05-06     7588.0     1815.0   469.0

[106 rows x 5 columns]

In [25]:
select_Togo=country_data[country_data['Country'] == 'Togo']

In [26]:
select_Togo

      Country        Date  Confirmed  Recovered  Deaths
17702    Togo  2020-01-22        0.0        0.0     0.0
17703    Togo  2020-01-23        0.0        0.0     0.0
17704    Togo  2020-01-24        0.0        0.0     0.0
17705    Togo  2020-01-25        0.0        0.0     0.0
17706    Togo  2020-01-26        0.0        0.0     0.0
...       ...         ...        ...        ...     ...
17803    Togo  2020-05-02      123.0       66.0     9.0
17804    Togo  2020-05-03      124.0       67.0     9.0
17805    Togo  2020-05-04      126.0       74.0     9.0
17806    Togo  2020-05-05      128.0       74.0     9.0
17807    Togo  2020-05-06      128.0       77.0     9.0

[106 rows x 5 columns]

In [27]:
select_Uganda=country_data[country_data['Country'] == 'Uganda']

In [28]:
select_Uganda

      Country        Date  Confirmed  Recovered  Deaths
18232  Uganda  2020-01-22        0.0        0.0     0.0
18233  Uganda  2020-01-23        0.0        0.0     0.0
18234  Uganda  2020-01-24        0.0        0.0     0.0
18235  Uganda  2020-01-25        0.0        0.0     0.0
18236  Uganda  2020-01-26        0.0        0.0     0.0
...       ...         ...        ...        ...     ...
18333  Uganda  2020-05-02       88.0       52.0     0.0
18334  Uganda  2020-05-03       89.0       52.0     0.0
18335  Uganda  2020-05-04       97.0       55.0     0.0
18336  Uganda  2020-05-05       98.0       55.0     0.0
18337  Uganda  2020-05-06      100.0       55.0     0.0

[106 rows x 5 columns]

In [29]:
select_Rwanda=country_data[country_data['Country'] == 'Rwanda']

In [30]:
select_Rwanda

      Country        Date  Confirmed  Recovered  Deaths
14628  Rwanda  2020-01-22        0.0        0.0     0.0
14629  Rwanda  2020-01-23        0.0        0.0     0.0
14630  Rwanda  2020-01-24        0.0        0.0     0.0
14631  Rwanda  2020-01-25        0.0        0.0     0.0
14632  Rwanda  2020-01-26        0.0        0.0     0.0
...       ...         ...        ...        ...     ...
14729  Rwanda  2020-05-02      255.0      120.0     0.0
14730  Rwanda  2020-05-03      259.0      124.0     0.0
14731  Rwanda  2020-05-04      261.0      128.0     0.0
14732  Rwanda  2020-05-05      261.0      129.0     0.0
14733  Rwanda  2020-05-06      268.0      130.0     0.0

[106 rows x 5 columns]

In [33]:
select_Madagascar=country_data[country_data['Country'] == 'Madagascar']

In [34]:
select_Madagascar

          Country        Date  Confirmed  Recovered  Deaths
10812  Madagascar  2020-01-22        0.0        0.0     0.0
10813  Madagascar  2020-01-23        0.0        0.0     0.0
10814  Madagascar  2020-01-24        0.0        0.0     0.0
10815  Madagascar  2020-01-25        0.0        0.0     0.0
10816  Madagascar  2020-01-26        0.0        0.0     0.0
...           ...         ...        ...        ...     ...
10913  Madagascar  2020-05-02      135.0       97.0     0.0
10914  Madagascar  2020-05-03      149.0       98.0     0.0
10915  Madagascar  2020-05-04      149.0       99.0     0.0
10916  Madagascar  2020-05-05      151.0      101.0     0.0
10917  Madagascar  2020-05-06      158.0      101.0     0.0

[106 rows x 5 columns]

In [35]:
select_Nigeria=country_data[country_data['Country'] == 'Nigeria']

In [36]:
select_Nigeria

       Country        Date  Confirmed  Recovered  Deaths
13038  Nigeria  2020-01-22        0.0        0.0     0.0
13039  Nigeria  2020-01-23        0.0        0.0     0.0
13040  Nigeria  2020-01-24        0.0        0.0     0.0
13041  Nigeria  2020-01-25        0.0        0.0     0.0
13042  Nigeria  2020-01-26        0.0        0.0     0.0
...        ...         ...        ...        ...     ...
13139  Nigeria  2020-05-02     2388.0      351.0    85.0
13140  Nigeria  2020-05-03     2558.0      400.0    87.0
13141  Nigeria  2020-05-04     2802.0      417.0    93.0
13142  Nigeria  2020-05-05     2950.0      481.0    98.0
13143  Nigeria  2020-05-06     3145.0      534.0   103.0

[106 rows x 5 columns]

In [40]:
select_SouthAfrica=country_data[country_data['Country'] == 'South Africa']

In [41]:
select_SouthAfrica

            Country        Date  Confirmed  Recovered  Deaths
16218  South Africa  2020-01-22        0.0        0.0     0.0
16219  South Africa  2020-01-23        0.0        0.0     0.0
16220  South Africa  2020-01-24        0.0        0.0     0.0
16221  South Africa  2020-01-25        0.0        0.0     0.0
16222  South Africa  2020-01-26        0.0        0.0     0.0
...             ...         ...        ...        ...     ...
16319  South Africa  2020-05-02     6336.0     2549.0   123.0
16320  South Africa  2020-05-03     6783.0     2549.0   131.0
16321  South Africa  2020-05-04     7220.0     2746.0   138.0
16322  South Africa  2020-05-05     7572.0     2746.0   148.0
16323  South Africa  2020-05-06     7808.0     3153.0   153.0

[106 rows x 5 columns]

In [42]:
select_Tanzania=country_data[country_data['Country'] == 'Tanzania']

In [43]:
select_Tanzania

        Country        Date  Confirmed  Recovered  Deaths
17384  Tanzania  2020-01-22        0.0        0.0     0.0
17385  Tanzania  2020-01-23        0.0        0.0     0.0
17386  Tanzania  2020-01-24        0.0        0.0     0.0
17387  Tanzania  2020-01-25        0.0        0.0     0.0
17388  Tanzania  2020-01-26        0.0        0.0     0.0
...         ...         ...        ...        ...     ...
17485  Tanzania  2020-05-02      480.0      167.0    16.0
17486  Tanzania  2020-05-03      480.0      167.0    16.0
17487  Tanzania  2020-05-04      480.0      167.0    16.0
17488  Tanzania  2020-05-05      480.0      167.0    16.0
17489  Tanzania  2020-05-06      480.0      167.0    16.0

[106 rows x 5 columns]

In [44]:
select_Burundi=country_data[country_data['Country'] == 'Burundi']

In [45]:
select_Burundi

      Country        Date  Confirmed  Recovered  Deaths
2862  Burundi  2020-01-22        0.0        0.0     0.0
2863  Burundi  2020-01-23        0.0        0.0     0.0
2864  Burundi  2020-01-24        0.0        0.0     0.0
2865  Burundi  2020-01-25        0.0        0.0     0.0
2866  Burundi  2020-01-26        0.0        0.0     0.0
...       ...         ...        ...        ...     ...
2963  Burundi  2020-05-02       15.0        7.0     1.0
2964  Burundi  2020-05-03       15.0        7.0     1.0
2965  Burundi  2020-05-04       15.0        7.0     1.0
2966  Burundi  2020-05-05       15.0        7.0     1.0
2967  Burundi  2020-05-06       15.0        7.0     1.0

[106 rows x 5 columns]